body{
    height: 100vh;
    width: 100vw;
    margin: 0%;
}
header{
    background-color: black;
    height: 40vh;
    width: 100vw;
    margin-top: 0%;

}

.sess{
height: 1000px;
border: black 1px dashed;
}

#sess-img1{
    background-image: url(imagens/blond2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#sess-img2{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}