@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Bebas+Neue&family=Caprasimo&family=Oswald:wght@200&family=Passion+One&family=Sriracha&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursive;
    --font3:'Sriracha', cursive;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0%;
    font-family: var(--font1);
    overflow-x: hidden;
}
header{
    background-color: black;
    height: 40vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-h1{
color: white;
font-family: var(--font2);
font-size: 10vw ;
font-variant: small-caps;
margin-top: 0%;
margin-bottom: 0%;
}

.header-p{
color: white;
font-size: 1em ;

}

.sess{
height: 70vw;
border: black 1px dashed;
}

#sess-img1{
    background-image: url(imagens/Blond-official.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#sess-img1 > p {
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
    font-family: var(--font3);
    display: inline-block;
    font-size: 3vw;
    padding: 10px;
    margin-left: 25px;
    line-height: 2em;
}
#sess-img2 > p {
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
    font-family: var(--font3);
    display: inline-block;
    font-size: 3vw;
    padding: 10px;
    margin-left: 25px;
    margin-right: 20;
    line-height: 2em;
}

#sess-img2{
    background-image: url(imagens/Alternative-official.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.p-sess{
    font-family: var(--font3);
    font-size: 3vw;
    text-align: start;
    padding: 25px;
    line-height: 2em;
}

footer{
    min-height: 5vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#p-sess3{
  
}

#end-sess{
    height: 75.2vw;
}

.p-footer{
color: white;
padding-bottom: 0px;
font-size: 0.8em;
}

#white-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#end-sess{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

@media screen and (max-width: 569px){
    header{
        background-color: black;
        height: 25vh;
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}