@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Bebas+Neue&family=Caprasimo&family=Oswald:wght@200&family=Passion+One&family=Sriracha&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursive;
    --font3:'Sriracha', cursive;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0%;
    font-family: var(--font1);
}
header{
    background-color: black;
    min-height: 40vh;
    min-width: 100vw;
    margin: auto;

   
}
.header-h1{
color: white;
font-family: var(--font2);
font-size: 10vw ;
margin: auto;
text-align: center;
padding-top: 40px;
font-variant: small-caps;

}

.header-p{
color: white;
font-size: 1em ;
margin: auto;
text-align: center;


}

.sess{
height: 1000px;
border: black 1px dashed;
}

#sess-img1{
    background-image: url(imagens/blond2.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#sess-img2{
    background-image: url(imagens/blond-alternative.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.p-sess{
    font-family: var(--font3);
    font-size: 3vw;
    text-align: start;
    padding: 25px;
}